{% extends 'home/index.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}
{% block content %}
	{{parent()}}
	<div class="d-flex justify-content-between">
		<h1 class="mr-auto mb-0 title-table">{{title}}</h1>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			{{ form_start (form) }}

			{% if form_errors(form) %}
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			{% endif %}
			<div class="row my-2">
				<div class="col-xs-12 col-md-6">
					{{ form_label (form.name) }}
					{{ form_widget (form.name) }}
					{{ form_errors (form.name)}}
				</div>


				<div class="col-xs-12 col-md-6">
					{{ form_label (form.email) }}
					{{ form_widget (form.email) }}
					{{ form_errors (form.email)}}
				</div>
			</div>

			<div class="row my-2">
				<div class="col-xs-12 col-md-6">
					{{ form_label (
			form.state,
			'Provincia *',
			{'label_attr': {'class': 'form-label','id':'label-state','data-state-id':user.state ? user.state.id:'0'}}
					)}}
					{{ form_widget (form.state) }}
					{{ form_errors (form.state)}}
				</div>


				<div class="col-xs-12 col-md-6">
					{{ form_label (
			form.city,
			'Localidad/Ciudad *',
			{'label_attr': {'class': 'form-label','id':'label-city','data-city-id':user.city ? user.city.id:'0'}}
					)}}
					{{ form_widget (form.city) }}
					{{ form_errors (form.city)}}
				</div>
			</div>
			<div class="row my-2">
				<div class="col-xs-12 col-md-8">
					{{ form_label (form.street_address) }}
					{{ form_widget (form.street_address) }}
					{{ form_errors (form.street_address)}}
				</div>


				<div class="col-xs-12 col-md-4">
					{{ form_label (form.number_address) }}
					{{ form_widget (form.number_address) }}
					{{ form_errors (form.number_address)}}
				</div>
			</div>
			{% if form.vars.value.id %}
				<div class="row my-3">
					<div class="col-12">
						{{ form_row(form.reset_password) }}
					</div>
				</div>
			{% endif %}
			<hr>
			<div class="row my-2">
				<div class="col-xs-12 text-end">
					<a class="btn btn-secondary m-2" href="{{ path('secure_crud_user_index') }}">Regresar</a>
					<button class="btn btn-success m-2">{{ button_label|default('Guardar') }}</button>
					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
