{% extends 'home/index.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	{{parent()}}
	<h1>{{title}}</h1>
	{{ include('secure/crud_social_network/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('#social_network_name').on('change', () => {
$('#social_network_type').val($('#social_network_name option:selected').text())
})
	</script>
{% endblock %}
