{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}
	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start(form) }}
	{% if form_errors(form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-12">
			{{ form_row(form.name) }}
		</div>
	</div>
	{% if topic.icon is defined and (topic.icon !='' or topic.icon != null) %}
		<div class="row my-2">
			<div class="col-2">
				<img class="img-thumbnail" alt="Imagen" src="{{ asset(topic.icon) }}"/>
				{{form_row(form.delete_icon)}}
			</div>
		</div>
	{% else %}
		<div style="display:none;">
			{{ form_row(form.delete_icon, { 'attr': {'disabled': 'disabled'} }) }}
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-6">
			{{ form_row(form.icon) }}
		</div>
	</div>
	<div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('abm_topics_faqs') }}">Regresar</a>

				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>


	{{ form_end(form) }}

{% endblock %}
