{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Login' | trans }}
	|
	{{ 'AppName' | trans }}
{% endblock %}

{% block body %}

	<!-- <body data-layout="horizontal"> -->
	<div class="auth-page">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="bg-dark-bymia col-xxl-3 col-lg-4 col-md-5" style="background-color:#080814;">
					<div class="auth-full-page-content d-flex p-sm-5 p-4">
						<div class="w-100">
							<div class="d-flex flex-column h-100">
								<div class="mb-4 mb-md-5 text-center">
									<img src="/assets/images/BymiaBrand/FullCianWhiteBymia.png" style="width: 200px;border-radius: 15px;" alt="">
								</div>
								<div class="auth-content my-auto">
									<div class="text-center">
										<h5 class="mb-0">{{ 'Welcome' | trans }}</h5>
										<p class="text-white mt-2">{{ 'Sign' | trans }}</p>
									</div>
									<form class="custom-form mt-4 pt-2" method="post">
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										<div class="mb-3">
											<label class="form-label">{{ 'Username' | trans }}</label>
											<input type="text" class="form-control" autocomplete="off" name="_username" value="{{ last_username }}" autofocus id="_username" required placeholder="Enter username">
										</div>
										<div class="mb-3">
											<div class="d-flex align-items-start">
												<div class="flex-grow-1">
													<label class="form-label">{{ 'Password' | trans }}</label>
												</div>
												<div class="flex-shrink-0">
													<div class="">
														<a href="#" class="text-white">{{ 'ForgotPassword' | trans }}</a>
													</div>
												</div>
											</div>

											<div class="input-group auth-pass-inputgroup">
												<input type="password" class="form-control" name="_password" id="_password" required placeholder="Enter password" autocomplete="current-password" aria-label="Password" aria-describedby="password-addon">
												<button class="btn btn-light shadow-none ms-0" type="button" id="password-addon">
													<i class="mdi mdi-eye-outline"></i>
												</button>
											</div>
										</div>

										<div class="mb-3">
											<button class="btn btn-primary w-100 waves-effect waves-light" type="submit">{{ 'SignIn' | trans }}</button>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									</form>

								</div>
								<div class="mt-4 mt-md-5 text-center">
									<p class="mb-0">©
										<script>
											document.write(new Date().getFullYear())
										</script>
										{{ 'AppName' | trans }}
										{# . {{ 'DesignDevelopedBy' | trans }} {{ 'AppAuthor' | trans }} #}
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end auth full page content -->
				</div>
				<!-- end col -->
				<div class="col-xxl-9 col-lg-8 col-md-7 d-sm-none d-md-block">
					{% include 'security\\cover.security.html.twig' %}
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container fluid -->
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- password addon init -->
	<script src="{{ asset('assets/js/pages/pass-addon.init.js') }}"></script>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
