{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Out' | trans }}
	|
	{{ 'AppName' | trans }}
{% endblock %}

{% block body %}

	<!-- <body data-layout="horizontal"> -->
	<div class="auth-page">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-xxl-3 col-lg-4 col-md-5">
					<div class="auth-full-page-content d-flex p-sm-5 p-4">
						<div class="w-100">
							<div class="d-flex flex-column h-100">
								<div class="mb-4 mb-md-5 text-center">
									<a href="index.html" class="d-block auth-logo">
										<img src="{{ asset('assets/images/logo-sm.svg') }}" alt="" height="28">
										<span class="logo-txt">{{ 'AppName' | trans }}</span>
									</a>
								</div>
								<div class="auth-content my-auto">
									<div class="text-center">
										<div class="avatar-xl mx-auto">
											<div class="avatar-title bg-soft-light text-primary h1 rounded-circle">
												<i class="bx bxs-user"></i>
											</div>
										</div>

										<div class="mt-4 pt-2">
											<h5>
												{{ 'YouLoggedOut' | trans }}</h5>
											<p class="text-muted font-size-15">
												{{ 'ThankForUsing' | trans }}
												<span class="fw-semibold text-dark">{{ 'AppName' | trans }}</span>
											</p>
											<div class="mt-4">
												<a href="{{ path('app_login') }}" class="btn btn-primary w-100 waves-effect waves-light">{{ 'SignIn' | trans }}</a>
											</div>
										</div>
									</div>

								</div>
								<div class="mt-4 mt-md-5 text-center">
									<p class="mb-0">©
										<script>
											document.write(new Date().getFullYear())
										</script>
										{{ 'AppName' | trans }}
										{# . {{ 'DesignDevelopedBy' | trans }} {{ 'AppAuthor' | trans }} #}
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end auth full page content -->
				</div>
				<!-- end col -->
				<div class="col-xxl-9 col-lg-8 col-md-7">
					{% include 'security\\cover.security.html.twig' %}
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container fluid -->
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- password addon init -->
	<script src="{{ asset('assets/js/pages/pass-addon.init.js') }}"></script>

{% endblock %}
