<div class="vertical-menu text-white water-green-background">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="text-white">
					<a href="javascript: void(0);" class="has-arrow text-white water-green-background">
						<i class="fas fa-sitemap text-white"></i>
						<span class="text-white">ByMia E-Commerce</span>
					</a>
					<ul class="sub-menu water-green-background" aria-expanded="true">
						<li class="text-white">
							<a href="javascript: void(0);" class="has-arrow text-white water-green-background">
								<i class="bx bxs-dock-top text-white"></i>
								<span class="text-white">Header</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">
								<li>
									<a href="{{ path('about_us') }}">
										<i class="bx bxs-info-circle text-white"></i>
										<span data-key="t-about-us" class="text-white">Sobre nosotros</span>
									</a>
								</li>
								<li>
									<a href="{{path('abm_topics_faqs')}}">
										<i class="fas fa-question-circle text-white"></i>
										<span class="text-white">FAQ</span>
									</a>

								</li>
								<li>
									<a href="{{ path('secure_crud_social_network_index') }}">
										<i class="bx bxl-twitter text-white"></i>
										<span data-key="t-social-network" class="text-white">Red social</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="text-white">
							<a href="javascript: void(0);" class="has-arrow text-white water-green-background">
								<i class="bx bxs-detail text-white"></i>
								<span class="text-white">Cuerpo</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">

								<li>
									<a class="red-background" href="{{ path('secure_cover_image_index') }}">
										<i class="fas fa-images text-white"></i>
										<span class="text-white">Sliders</span>
									</a>
								</li>

								<li>
									<a class="red-background" href="{{ path('secure_configuration_index') }}">
										<i class="fas fa-icons text-white"></i>
										<span class="text-white">Iconos inicio</span>
									</a>
								</li>

								<li>
									<a class="red-background" href="{{ path('secure_sections_home_index') }}">
										<i class="fas fa-icons text-white"></i>
										<span class="text-white">Secciones</span>
									</a>
								</li>

								<li>
									<a class="red-background" href="{{ path('secure_brands_sections_index') }}">
										<i class="fas fa-tags text-white"></i>
										<span class="text-white">Marcas</span>
									</a>
								</li>

								<li>
									<a class="red-background" href="{{ path('secure_crud_advertisements_new') }}">
										<i class="fas fa-images text-white"></i>
										<span class="text-white">Banners</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="text-white">
							<a href="javascript: void(0);" class="has-arrow text-white water-green-background">
								<i class="bx bxs-dock-bottom text-white"></i>
								<span class="text-white">Footer</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">
								<li>
									<a href="{{ path('terms_conditions') }}">
										<i class="fas fa-file-contract text-white"></i>
										<span data-key="t-terms-conditions" class="text-white">Término y condiciones</span>
									</a>
								</li>

								<li>
									<a href="{{ path('privacy_policy') }}">
										<i class="fas fa-file-alt text-white"></i>
										<span class="text-white">Política de privacidad</span>
									</a>
								</li>

								<li>
									<a href="{{ path('refund') }}">
										<i class="fas fa-angle-double-left text-white"></i>
										<span class="text-white">Devolución</span>
									</a>
								</li>

								<li>
									<a href="{{ path('customer_support') }}">
										<i class="fas fa-headset text-white"></i>
										<span class="text-white">Atención al cliente</span>
									</a>
								</li>

								<li>
									<a href="{{ path('contact_us') }}">
										<i class="bx bx-phone-incoming text-white"></i>
										<span data-key="t-contact" class="text-white">Contáctenos</span>
									</a>
								</li>

								<li>
									<a href="{{ path('shipments') }}">
										<i class="fas fa-mail-bulk text-white"></i>
										<span class="text-white">Envíos</span>
									</a>
								</li>

							</ul>
						</li>


					</ul>
				</li>

				<li>
					<a class="red-background" href="{{ path('secure_crud_user_index') }}">
						<i class="fas fa-users text-white"></i>
						<span data-key="t-operators" class="text-white">Operadores</span>
					</a>
				</li>

				<li>
					<a class="red-background" href="{{ path('api_clients') }}">
						<i class="fas fa-user-lock text-white"></i>
						<span class="text-white">Usuarios API</span>
					</a>
				</li>

				<li>
					<a class="red-background" href="{{ path('secure_crud_customer_index') }}">
						<i class="fas fa-user-tie text-white"></i>
						<span data-key="t-customers" class="text-white">Clientes</span>
					</a>
				</li>

				<li>
					<a class="red-background" href="{{ path('secure_crud_world_index') }}">
						<i class="fas fa-map-marked-alt text-white"></i>
						<span class="text-white">Paises/Estados/Ciudades</span>
					</a>
				</li>
				<li>
					<a href="javascript: void(0);" class="has-arrow text-white water-green-background">
						<i class="bx bxs-spreadsheet text-white"></i>
						<span data-key="t-products" class="text-white">Productos</span>
					</a>
					<ul class="sub-menu water-green-background" aria-expanded="true">
						<li>
							<a href="{{ path('secure_crud_warehouse_index') }}">
								<i class="fas fa-warehouse text-white"></i>
								<span data-key="t-warehouses" class="text-white">Warehouses</span>
							</a>
						</li>

						<li>
							<a href="{{ path('secure_crud_brand_index') }}">
								<i class="fas fa-tags text-white"></i>
								<span data-key="t-brands" class="text-white">Marcas</span>
							</a>
						</li>

						<li>
							<a href="{{ path('secure_crud_category_index') }}">
								<i class="fas fa-share-alt text-white"></i>
								<span data-key="t-categorys" class="text-white">Categorías</span>
							</a>
						</li>

						<li>
							<a href="{{ path('secure_crud_subcategory_index') }}">
								<i class="fas fa-share-alt-square text-white"></i>
								<span class="text-white">Subcategorías</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_product_index') }}">
								<i class="fas fa-tv text-white"></i>
								<span data-key="t-products" class="text-white">Productos</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_crud_tag_index') }}">
								<i class="fas fa-tag text-white"></i>
								<span data-key="t-tags" class="text-white">Etiquetas</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_crud_specification_type_index') }}">
								<i class="fas fa-tools text-white"></i>
								<span class="text-white">Especificaciones</span>
							</a>
						</li>

					</ul>
				</li>
				{# <li>
					<a href="{{ path('order') }}">
						<i class="fas fa-money-check-alt text-white"></i>
						<span data-key="t-orders" class="text-white">Ordenes</span>
					</a>
				</li> #}
				<li>
					<a class="red-background" href="{{ path('secure_crud_coupon_discount_index') }}">
						<i class="fab fa-aws text-white"></i>
						<span data-key="t-offert-coupon" class="text-white">Cupones de descuento</span>
					</a>
				</li>

			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
