<div class="vertical-menu water-green-background">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				{# <li>
					<a href="javascript: void(0);" class="has-arrow water-green-background">
						<i class="fas fa-sitemap"></i>
						<span>Configuración Web</span>
					</a>
					<ul class="sub-menu water-green-background" aria-expanded="true">
						<li>
							<a href="javascript: void(0);" class="has-arrow water-green-background">
								<i class="bx bxs-dock-top"></i>
								<span>Header</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">
								<li>
									<a href="{{ path('about_us') }}">
										<i class="bx bxs-info-circle"></i>
										<span data-key="t-about-us">Sobre nosotros</span>
									</a>
								</li>
								<li>
									<a href="{{path('abm_topics_faqs')}}">
										<i class="fas fa-question-circle"></i>
										<span>FAQ</span>
									</a>

								</li>
								<li>
									<a href="{{ path('secure_crud_social_network_index') }}">
										<i class="bx bxl-twitter"></i>
										<span data-key="t-social-network">Red social</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow water-green-background">
								<i class="bx bxs-detail"></i>
								<span>Cuerpo</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">

								<li>
									<a href="{{ path('secure_cover_image_index') }}">
										<i class="fas fa-images"></i>
										<span>Sliders</span>
									</a>
								</li>

								<li>
									<a href="{{ path('secure_configuration_index') }}">
										<i class="fas fa-icons"></i>
										<span>Iconos inicio</span>
									</a>
								</li>

								<li>
									<a href="{{ path('secure_brands_sections_index') }}">
										<i class="fas fa-tags"></i>
										<span>Marcas</span>
									</a>
								</li>

								<li>
									<a href="{{ path('secure_crud_advertisements_new') }}">
										<i class="fas fa-images"></i>
										<span>Banners</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow water-green-background">
								<i class="bx bxs-dock-bottom"></i>
								<span>Footer</span>
							</a>
							<ul class="sub-menu water-green-background" aria-expanded="true">
								<li>
									<a href="{{ path('terms_conditions') }}">
										<i class="fas fa-file-contract"></i>
										<span data-key="t-terms-conditions">Término y condiciones</span>
									</a>
								</li>

								<li>
									<a href="{{ path('privacy_policy') }}">
										<i class="fas fa-file-alt"></i>
										<span>Política de privacidad</span>
									</a>
								</li>

								<li>
									<a href="{{ path('refund') }}">
										<i class="fas fa-angle-double-left"></i>
										<span>Devolución</span>
									</a>
								</li>

								<li>
									<a href="{{ path('customer_support') }}">
										<i class="fas fa-headset"></i>
										<span>Atención al cliente</span>
									</a>
								</li>

								<li>
									<a href="{{ path('contact_us') }}">
										<i class="bx bx-phone-incoming"></i>
										<span data-key="t-contact">Contáctenos</span>
									</a>
								</li>

								<li>
									<a href="{{ path('shipments') }}">
										<i class="fas fa-mail-bulk"></i>
										<span>Envíos</span>
									</a>
								</li>

							</ul>
						</li>


					</ul>
				</li> #}
				{% if is_granted('ROLE_SUPER_ADMIN') %}
				<li>
					<a href="{{ path('secure_crud_user_index') }}">
						<i class="fas fa-warehouse"></i>
						<span>Puntos de venta</span>
					</a>
				</li>

				<li>
					<a href="{{ path('secure_crud_customer_index') }}">
						<i class="fas fa-user-tie"></i>
						<span data-key="t-customers">Clientes</span>
					</a>
				</li>
				
				<li>
					<a href="{{ path('secure_crud_world_index') }}">
						<i class="fas fa-map-marked-alt"></i>
						<span>Provincias/Ciudades</span>
					</a>
				</li>
				{% endif %}

				<li>
					<a href="javascript: void(0);" class="has-arrow water-green-background">
						<i class="bx bxs-spreadsheet"></i>
						<span data-key="t-products">Productos</span>
					</a>
					<ul class="sub-menu water-green-background" aria-expanded="true">
						{# <li>
							<a href="{{ path('secure_crud_warehouse_index') }}">
								<i class="fas fa-warehouse"></i>
								<span data-key="t-warehouses">Warehouses</span>
							</a>
						</li> #}

						<li>
							<a href="{{ path('secure_crud_brand_index') }}">
								<i class="fas fa-tags"></i>
								<span data-key="t-brands">Marcas</span>
							</a>
						</li>

						<li>
							<a href="{{ path('secure_crud_category_index') }}">
								<i class="fas fa-share-alt"></i>
								<span data-key="t-categorys">Categorías</span>
							</a>
						</li>

						<li>
							<a href="{{ path('secure_crud_subcategory_index') }}">
								<i class="fas fa-share-alt-square"></i>
								<span>Subcategorías</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_product_index') }}">
								<i class="fas fa-tv"></i>
								<span>Mis productos</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_crud_tag_index') }}">
								<i class="fas fa-tag"></i>
								<span data-key="t-tags">Etiquetas</span>
							</a>
						</li>
						<li>
							<a href="{{ path('secure_crud_specification_type_index') }}">
								<i class="fas fa-tools"></i>
								<span>Especificaciones</span>
							</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-boxes"></i>
						<span>Stock</span>
					</a>
				</li>
				
				<li>
					<a href="#">
						<i class="fas fa-dolly-flatbed"></i>
						<span>Despachos</span>
					</a>
				</li>

				

				<li>
					<a href="#">
						<i class="fas fa-money-check-alt"></i>
						<span>Gestión de ordenes</span>
					</a>
				</li>
				{# <li>
					<a href="{{ path('secure_crud_coupon_discount_index') }}">
						<i class="fab fa-aws"></i>
						<span data-key="t-offert-coupon">Cupones de descuento</span>
					</a>
				</li> #}

			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
