<div class="vertical-menu water-green-background">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li>
						<a href="{{ path('secure_crud_user_index') }}">
							<i class="fas fa-warehouse"></i>
							<span>Puntos de venta</span>
						</a>
					</li>

					<li>
						<a href="{{ path('secure_crud_customer_index') }}">
							<i class="fas fa-user-tie"></i>
							<span data-key="t-customers">Clientes</span>
						</a>
					</li>

					<li>
						<a href="{{ path('secure_crud_world_index') }}">
							<i class="fas fa-map-marked-alt"></i>
							<span>Provincias/Ciudades</span>
						</a>
					</li>
				{% endif %}

				<li>
					<a href="javascript: void(0);" class="has-arrow water-green-background">
						<i class="bx bxs-spreadsheet"></i>
						<span data-key="t-products">Productos</span>
					</a>
					<ul class="sub-menu water-green-background" aria-expanded="true">
						{% if is_granted('ROLE_SUPER_ADMIN') %}

							<li>
								<a href="{{ path('secure_crud_brand_index') }}">
									<i class="fas fa-tags"></i>
									<span data-key="t-brands">Marcas</span>
								</a>
							</li>


							<li>
								<a href="{{ path('secure_crud_category_index') }}">
									<i class="fas fa-share-alt"></i>
									<span data-key="t-categorys">Categorías</span>
								</a>
							</li>

							<li>
								<a href="{{ path('secure_crud_subcategory_index') }}">
									<i class="fas fa-share-alt-square"></i>
									<span>Subcategorías</span>
								</a>
							</li>

						{% endif %}
						<li>
							<a href="{{ path('secure_product_index') }}">
								<i class="fas fa-tv"></i>
								<span>Mis productos</span>
							</a>
						</li>
						{% if is_granted('ROLE_SUCURSAL') %}
							<li>
								<a href="{{ path('secure_product_central') }}">
									<i class="fas fa-tv"></i>
									<span>Productos de la casa central</span>
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_SUPER_ADMIN') %}

							<li>
								<a href="{{ path('secure_product_sale_point') }}">
									<i class="fas fa-tv"></i>
									<span>Productos de los puntos de venta</span>
								</a>
							</li>

							<li>
								<a href="{{ path('secure_crud_tag_index') }}">
									<i class="fas fa-tag"></i>
									<span data-key="t-tags">Etiquetas</span>
								</a>
							</li>
							<li>
								<a href="{{ path('secure_crud_specification_type_index') }}">
									<i class="fas fa-tools"></i>
									<span>Especificaciones</span>
								</a>
							</li>
						{% endif %}

					</ul>
				</li>
				<li>
					<a href="{{ path('secure_product_stock') }}">
						<i class="fas fa-boxes"></i>
						<span>Stock</span>
					</a>
				</li>
				{% if is_granted('ROLE_SUPER_ADMIN') %}

					<li>
						<a href="{{ path('secure_product_dispatch') }}">
							<i class="fas fa-dolly-flatbed"></i>
							<span>Despachos</span>
						</a>
					</li>


				{% endif %}
				{% if is_granted('ROLE_SUCURSAL') %}

					<li>
						<a href="{{ path('secure_product_dispatch') }}">
							<i class="fas fa-shipping-fast"></i>
							<span>Productos en camino</span>
						</a>
					</li>

				{% endif %}

				<li>
					<a href="{{ path('secure_order_index') }}">
						<i class="fas fa-money-check-alt"></i>
						<span>Gestión de ordenes</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
