{% extends 'home/index.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	{{parent()}}
	<div>
		<h1>{{title}}</h1>
		{{ form_start(form, {'attr':{'id':'customer_support','autocomplete':"off"}}) }}
		<div class="row">
			<div class="col-12" id="DivTextEditor" data-id-text-area="customer_support_description">
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
			</div>
		</div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('app_homepage')}}">Regresar</a>

				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
