{{ form_start(form, {'attr': {'id': 'order_search'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.number) }}
        </div>
        <div class="col">
            {{ form_row(form.status) }}
        </div>
        <div class="col">
            {{ form_row(form.customer) }}
        </div>
        {# <div class="col">
            <button class="btn btn-primary">Buscar</button>
        </div> #}
        <div class="col-2">
            <div class="mb-3">
                <label class="form-label" for="order_search_customer">&nbsp;</label>
                <button class="btn btn-primary form-control">Buscar</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}


{# {{ form_start(form) }}
<div class="d-inline-flex">
    {{ form_widget(form,{'attr': {'class': 'd-inline-flex m-5'}}) }}
</div>
<button class="btn btn-primary">Buscar</button>
{{ form_end(form) }} #}
