{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}
	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start(form) }}
	{% if form_errors(form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-6">
			{{ form_row(form.name) }}
		</div>
		<div class="col-6">
			{{ form_row(form.api_client_type_role) }}
		</div>
	</div>
	{% if reset_api_key is defined %}
		<div class="row my-2">
			<div class="col-6">
				{{form_row(form.reset_api_key)}}
			</div>
		</div>
	{% else %}
		<div style="display:none;">
			{{ form_row(form.reset_api_key, { 'attr': {'disabled': 'disabled'} }) }}
		</div>
	{% endif %}
	<div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('api_clients') }}">Regresar</a>

				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>


	{{ form_end(form) }}

{% endblock %}
