{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}
	<!-- Modal -->
	<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalDeleteLabel">Eliminar imagen</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					¿Está seguro que desea eliminar esta imagen? una vez eliminada no se podrá recuperar.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button id="deleteImage" href="javascript:void(0);" type="button" class="btn btn-danger">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start (form) }}

	{% if form_errors (form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors (form) }}
				</div>
			</div>
		</div>
	{% endif %}

	{# DATOS PRODUCTO #}

	{% if form.sale_point is defined %}
		<div class="row my-2">
			<div class="col-12">
				{{ form_label (form.sale_point) }}
				{{ form_widget (form.sale_point) }}
				{{ form_errors (form.sale_point)}}
			</div>
		</div>
	{% endif %}

	<div class="row my-2">
		<div class="col-8">
			{{ form_label (form.name) }}
			{{ form_widget (form.name) }}
			{{ form_errors (form.name)}}
		</div>
		<div class="col-4">
			{{ form_label (form.cod) }}
			{{ form_widget (form.cod) }}
			{{ form_errors (form.cod)}}
		</div>
	</div>

	<div class="row my-2">
		<div class="col-12">
			{{ form_label (form.description) }}
			{{ form_widget (form.description) }}
			{{ form_errors (form.description)}}
		</div>


		<div class="col-12">
			{{ form_label (form.long_description) }}
			{{ form_widget (form.long_description) }}
			{{ form_errors (form.long_description)}}
		</div>
	</div>

	{# FIN DATOS PRODUCTO #}

	<hr>

	{# SKU #}

	<div class="row my-3">

		<div class="col-3">
			{{ form_label (
				form.subcategory,
				'Categoría *',
				{'label_attr': {'class': 'form-label','id':'label-category','data-category-id':product.category ? product.category.id:'0'}}
			)}}
			{{ form_widget (form.category) }}
			{{ form_errors (form.category)}}
		</div>

		<div class="col-3">
			{{ form_label (
				form.subcategory,
				'Subcategoría',
				{'label_attr': {'class': 'form-label','id':'label-subcategory','data-subcategory-id':product.subcategory ? product.subcategory.id:'0'}}
			)}}
			{{ form_widget (form.subcategory) }}
			{{ form_errors (form.subcategory)}}
		</div>

		<div class="col-3">
			{{ form_row(form.brand, {'attr': {'list': 'brands'}}) }}
			<datalist id="brands">
				{% for brand in brands %}
					<option value="{{ brand.name }}">{{ brand.name }}</option>
				{% endfor %}
			</datalist>
		</div>

		<div class="col-3">

			{{ form_row(form.model, {'attr': {'list': 'models'}}) }}
			<datalist id="models">
				{% for model in models %}
					<option value="{{ model.name }}">{{ model.name }}</option>
				{% endfor %}
			</datalist>
		</div>
	</div>
	<div class="row my-3"></div>
	{# FIN SKU #}

	<hr>

	{# CARACTERISTICAS #}

	<div class="row my-3">

		<div class="row my-2">
			<div class="col-12">
				<h3>Caracteristicas</h3>
			</div>
		</div>

		<div class="row my-2">

			<div class="col-3">
				{{ form_row(form.color, {'attr': {'list': 'color_names'}}) }}
				<datalist id="color_names">
					{% for color in colors %}
						<option value="{{ color.name }}">{{ color.name }}</option>
					{% endfor %}
				</datalist>
			</div>
			<div class="col-3">
				{{ form_row(form.memory, {'attr': {'list': 'memory_names'}}) }}
				<datalist id="memory_names">
					{% for memory in memories %}
						<option value="{{ memory.name }}">{{ memory.name }}</option>
					{% endfor %}
				</datalist>
			</div>

			<div class="col-3">
				{{ form_row(form.storage, {'attr': {'list': 'storage_names'}}) }}
				<datalist id="storage_names">
					{% for storage in storages %}
						<option value="{{ storage.name }}">{{ storage.name }}</option>
					{% endfor %}
				</datalist>
			</div>

			<div class="col-3">
				{{ form_row(form.OS, {'attr': {'list': 'os_names'}}) }}
				<datalist id="os_names">
					{% for os in OSs %}
						<option value="{{ os.name }}">{{ os.name }}</option>
					{% endfor %}
				</datalist>
			</div>
		</div>
		<div class="row my-2">
			<div class="col-3">
				{{ form_row(form.screenSize, {'attr': {'list': 'screenSize_name'}}) }}
				<datalist id="screenSize_name">
					{% for screenSize in screenSizes %}
						<option value="{{ screenSize.name }}">{{ screenSize.name }}</option>
					{% endfor %}
				</datalist>
			</div>
			<div class="col-3">
				{{ form_row(form.screenResolution, {'attr': {'list': 'screenResolution_names'}}) }}
				<datalist id="screenResolution_names">
					{% for screenResolution in screenResolutions %}
						<option value="{{ screenResolution.name }}">{{ screenResolution.name }}</option>
					{% endfor %}
				</datalist>
			</div>

			<div class="col-3">
				{{ form_row(form.GPU, {'attr': {'list': 'GPU_names'}}) }}
				<datalist id="GPU_names">
					{% for GPU in GPUs %}
						<option value="{{ GPU.name }}">{{ GPU.name }}</option>
					{% endfor %}
				</datalist>
			</div>
			<div class="col-3">
				{{ form_row(form.CPU, {'attr': {'list': 'CPU_names'}}) }}
				<datalist id="CPU_names">
					{% for CPU in CPUs %}
						<option value="{{ CPU.name }}">{{ CPU.name }}</option>
					{% endfor %}
				</datalist>
			</div>


		</div>

	</div>
	{# FIN CARACTERISTICAS #}

	{# GALERIA #}
	{% if (product.getImage|length > 0) %}
		<div id="images_galery_div my-2">
			<hr>
			<div class="row my-3">
				<div class="row my-2">
					<h3>Imágenes cargadas</h3>
					<div class="col-12 my-2">
						<ul class="pgwSlideshow">
							{% for image in product.getImage %}
								<li id="img-{{image.id}}" data-id="{{image.id}}" data-principal-image="{{image.principal}}">
									<img src="{{ image.image }}" id="imagen-{{image.id}}">

									{% if (image.principal) %}
										<p id="p-portada" data-image-id="{{image.id}}" class="text-center text-black bg-white m-0 p-0 b-0">Portada</p>
									{% endif %}

								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="col-12 text-center my-2">
					<a class="text-danger" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalDelete">
						<spam class="fas fa-trash"></spam>
						Eliminar imagen
					</a>
					|
					<a class="text-primary" id="principalImageButton" href="javascript:void(0);">
						<spam class="fas fa-images"></spam>
						Establecer como imagen de portada
					</a>
				</div>
			</div>
		</div>


	{% endif %}


	<hr>
	<div class="row my-2">
		<div class="col-12">
			<h3>Cargar imágenes</h3>
			{% if not product.getImage|length > 0 %}
				<small>(La primer imagen será considerada la imagen de portada)</small>
			{% endif %}
			{{ form_widget (form.images) }}
			{{ form_errors (form.images)}}
			<div id="drag-drop-area"></div>
		</div>
	</div>
	<div>
		<div class="row my-2">
			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('secure_product_index') }}">Regresar</a>

				<button class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>
	{{ form_end (form) }}
{% endblock %}
