{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="mr-auto mb-0 title-table">
					{{ title }}
				</h1>
			</div>
		</div>


		{{ form_start (form) }}

		{% if form_errors (form) %}
			<div class="row">
				<div class="col-12">
					<div class="alert alert-danger">
						{{ form_errors (form) }}
					</div>
				</div>
			</div>
		{% endif %}

		<div class="row my-2">
			<div class="col-12">
				<table class="table table-sm ">
					<thead>
						<tr>
							<th>
								Cod.
							</th>
							<th>
								Producto
							</th>
							<th>
								Descripción
							</th>
							<th>
								Marca
							</th>
							<th>
								Categoría
							</th>
							<th>
								Subcategoría
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{product.product.salePoint.role.id == 1? 'A':product.product.salePoint.id}}-{{product.product.cod}}
							</td>
							<td>
								{{ product.product.name }}
							</td>
							<td>
								{{ product.product.description ? product.product.description:'' }}

							</td>
							<td>
								{{ product.product.brand.name }}

							</td>
							<td>
								{{ product.product.category.name }}

							</td>
							<td>
								{{product.product.subcategory ? product.product.subcategory.name:''}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{# ETIQUETAS #}

		<div class="row my-2">
			<div class="col-12">
				{% set tags_selected = '' %}
				{% for tag in product_sale_point_tag %}
					{% if tags_selected != '' %}
						{% set tags_selected = tags_selected ~ '-' %}
					{% endif %}
					{% set tags_selected = tags_selected ~ tag.tag.id %}
				{% endfor %}
				{{ form_label (
				form.tag,
				'Etiquetas',
				{'label_attr': {'class': 'form-label','id':'label-tag','data-tags-selected':tags_selected ? tags_selected:''}}
				)}}
				{# {{ form_label (form.tag) }} #}
				{{ form_widget (form.tag) }}
				{{ form_errors (form.tag)}}
			</div>
		</div>

		<div>
			<div class="row my-2">
				<div class="col-12 text-end">
					<a class="btn btn-secondary" href="{{ path('secure_product_index') }}">Regresar</a>

					<button class="btn btn-success">Guardar</button>
				</div>
			</div>
		</div>
		{{ form_end (form) }}

	</div>
{% endblock %}
