{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}

	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">
				{{ title }}
				<small id="message_expiration_time"></small>
			</h1>
		</div>
	</div>


	<div class="row my-3">
		<div class="col-12">
			<h4>
				{{product.name}}
			</h4>

		</div>
	</div>

	{{ form_start (form) }}

	{% if form_errors (form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors (form) }}
				</div>
			</div>
		</div>
	{% endif %}

	{# ETIQUETAS #}
	<div class="row my-3">

		<div class="row my-2">
			<div class="col-4">
				{{ form_label (form.tag) }}
				{{ form_widget (form.tag) }}
				{{ form_errors (form.tag)}}
			</div>
		</div>
		<div class="row my-2">

			<div class="col-4">
				{{ form_label (form.tag_expires) }}
				{{ form_widget (form.tag_expires) }}
				{{ form_errors (form.tag_expires)}}
			</div>
		</div>
		<div class="row my-2">

			<div class="col-4">
				{{ form_label (form.tag_expiration_date) }}
				{{ form_widget (form.tag_expiration_date) }}
				{{ form_errors (form.tag_expiration_date)}}
			</div>
		</div>
		<div>
			<div class="row my-2">
				<div class="col-12 text-end">
					<a class="btn btn-secondary" href="{{ path('secure_product_index') }}">Regresar</a>

					<button class="btn btn-success">Guardar</button>
				</div>
			</div>
		</div>
		{{ form_end (form) }}
	{% endblock %}
