{% extends 'home/index.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	{{parent()}}
	<div class="d-flex justify-content-between">
		<div class="col-6">
			<h1 class="mr-auto mb-0 title-table">{{title}}
				orden Nro:
				{{order.id}}</h1>
		</div>

	</div>
	{{ form_start (form) }}
	<div class="row">

		{% if form_errors (form) %}
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors (form) }}
				</div>
			</div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-3 my-2">
			{{ form_label (form.payment_file) }}
			{{ form_widget (form.payment_file) }}
			{{ form_errors (form.payment_file)}}
		</div>
	</div>
	<div class="row">
		<div class="col-3 my-2">
			{{ form_label (form.amount) }}
			{{ form_widget (form.amount) }}
			{{ form_errors (form.amount)}}
		</div>
	</div>
	<div class="row">
		<div class="col-3 my-2">
			{{ form_label (form.date_paid) }}
			{{ form_widget (form.date_paid) }}
			{{ form_errors (form.date_paid)}}
		</div>
	</div>
	<div class="row my-5">
		<div class="col-3 text-end">
			<a class="btn btn-secondary" href="{{ path('secure_order_show',{'order_id':order.id}) }}">Regresar</a>

			<button class="btn btn-success btn-save-inputs-datatable">Guardar</button>
		</div>
	</div>
	{{ form_end (form) }}
	{{ form_end (form) }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
