{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start(form) }}
	{% if form_errors(form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-4">
			{{ form_row(form.name) }}
		</div>
		<div class="col-4">
			{{ form_label (
				form.region_type,
				'Región',
				{'label_attr': {'class': 'form-label','id':'label-region','data-region-id':country.regionType ? country.regionType.id:'0'}}
			)}}
			{{ form_widget(form.region_type) }}
		</div>
		<div class="col-4">
			{{ form_label (
				form.subregion,
				'Subregion',
				{'label_attr': {'class': 'form-label','id':'label-subregion','data-subregion-id':country.subregionType ? country.subregionType.id:'0'}}
			)}}
			{{ form_widget(form.subregion) }}
		</div>
	</div>
	<div class="row my-2">
		<div class="col-6">
			{{ form_row(form.latitude) }}
		</div>
		<div class="col-6">
			{{ form_row(form.longitude) }}
		</div>
	</div>
	<div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('secure_crud_world_index') }}">Regresar</a>

				<button class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>


	{{ form_end(form) }}

{% endblock %}
